<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192345051629-td8otu2n42ul7a63rme19m8h5s8edsmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192345051629-td8otu2n42ul7a63rme19m8h5s8edsmh</string>
	<key>API_KEY</key>
	<string>AIzaSyDQZo9_cZfsrQlgRfpe08pV6OTql8F0aY4</string>
	<key>GCM_SENDER_ID</key>
	<string>192345051629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.styley.ai</string>
	<key>PROJECT_ID</key>
	<string>styley-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>styley-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192345051629:ios:ba17d4764a1f2ee94857e4</string>
	<key>DATABASE_URL</key>
	<string>https://styley-mobile-default-rtdb.firebaseio.com</string>
</dict>
</plist>